
# librarian-puppet
*.tmp/
*.librarian/

*.eyaml
# plain text yaml secrets
*secrets.yaml
# encrypted yaml secrets
*secrets.eyaml

system-infrastructure-puppet/modules/
# ignore files with encrypted data
system-infrastructure-secure/
# WIP files
system-infrastructure-puppet/todo/

